<h2>Registro</h2>

<form action="" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre"><br>
    <label for="correo">correo</label>
    <input type="email" name="correo"><br>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button>Crear</button>
</form>